  .insert textarea, .insert input, .answers input{
    padding: 10px 0px;
    margin: 10px 0px;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: solid 1px #E1D6C4;
    transition: box-shadow 0.3s, border 0.3s;
  }
  .insert textarea {
    display: block;
    width:100%;
    height: 10em;
  }
  .insert .answer {
    display:inline-block;
    width:75%;
  }
  .insert .origin, .insert select {
    display:block;
    width:25%;
    margin-right: 1em;
  }

  .insert input[type="file"]{
    border: none;
    display: inline;
    width: unset;
  }
  .insert input[type="submit"], .answers input[type="submit"] {
    width: 25%;
    float: right;
  }
  .insert .required {
    border-left: solid 1px #DC412C;
  }

  .insert input[type="text"]:focus,
  .insert input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
  .insert input[type="radio"], .answer input[type="radio"]  {
    display:none;
}
  .insert label, .answer label {
    display:inline-block;
    background-color:#ddd;
    color: #bbb;
    padding:4px 11px;
    margin:0em 1em;
}
.insert input[type="radio"]:checked + label,
.answer input[type="radio"]:checked + label,
.insert input[type="submit"]:hover,.answer input[type="submit"]:hover,
.insert label:hover, .answer label:hover{
    background-color:#7ED244;
    color: #353535;
}
.image {
  display:block;
  margin: auto;
  width:80%;
}
.answers {
  padding-top:1em;
}
  .answer text{
    display: inline-block;
    width:75%;
    padding-left: 1em;
    height:3em;
  }
  .answer label{
    float: right;
  }
