/* Tooltip container */
.tip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width:10em;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -0.5em;
    left: 1em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
    visibility: visible;
}

  .insert textarea, .insert input, .answers input{
    padding: 10px 0px;
    margin: 10px 0px;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: solid 1px #E1D6C4;
    transition: box-shadow 0.3s, border 0.3s;
  }
  .insert textarea {
    display: block;
    width:100%;
    height: 10em;
  }
  .insert .answer {
    display:inline-block;
    width:70%;
  }
  .insert .origin, .insert select {
    display:block;
    width:25%;
    margin-right: 1em;
  }

  .insert input[type="file"]{
    border: none;
    display: inline;
    width: unset;
  }
  .insert input[type="submit"], .answers input[type="submit"] {
    width: 25%;
    float: right;
  }
  .insert .required {
    border-left: solid 1px #DC412C;
  }

  .insert input[type="text"]:focus,
  .insert input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
  .insert input[type="radio"], .answer input[type="radio"] {
    display:none;
}
  .insert label, .answer label {
    display:inline-block;
    background-color:#ddd;
    color: #bbb;
    padding:4px 11px;
    margin:0em 1em;
    width:4em;
    text-align: center;
}
.insert input[type="radio"]:checked + label,
.insert input[type="submit"]:hover,
.insert label:hover {
    background-color:#7ED244;
    color: #353535;
}
.case .image {
  display:block;
  margin: auto;
  width:80%;
}

.answers {
  padding-top:1em;
}
.answers input[type="radio"]:checked + label{
    background-color:#7ED244;
    color: #353535;
}
.answers text{
  display: inline-block;
  width:75%;
  padding-left: 1em;
  height:3em;
}
.answers label{
  float: right;
  border: solid 1px #E1D6C4;
  color: #353535;
}

.answers .correct{
  opacity: 0.3;
  background-color:#7ED244;
}
.answer .incorrect{
  opacity: 0.3;
  background-color:#DC412C;
}
.answers .answered{
  opacity: 1;
}

.question_navigation{
  display: inline-block;
  width: 100%;
}
.question_list{
  font-size: 24%;
}